.App::after {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("../images/kidney.svg"),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.7) 60%,
      rgba(255, 255, 255, 0.9)
    );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  background-size: 95% 110%;
}

.Banner__Separator {
  height: 8vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 90),
    rgba(0, 0, 0, 0)
  );
}
