.statsbar {
  max-height: 1em;
  opacity: 0.7;
}

.ResourceCard {
  width: 360px;
  height: 360px;
  perspective: 1000px;
  margin: 5px;
}

.ResourceCard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.ResourceCard:hover .ResourceCard-inner {
  transform: rotateY(180deg);
}

.ResourceCard-front,
.ResourceCard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

.ResourceCard-front {
  justify-content: space-between;
}

.ResourceCard-back {
  transform: rotateY(180deg);
}

.ResourceCard__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ResourceCard__body {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.ResourceCard-back .ResourceCard__button {
  margin-top: auto;
}
.ResourceCard-front__quote-icon {
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 200px;
  color: rgba(100, 100, 255, 0.07);
}
.ResourceCard-front__author {
  text-align: right;
}
